<div class="element-left" *ngIf="selectedResort">
  <div class="element-bg-img">
    <img src="{{selectedResort.image}}" alt="" class="img-responsive">
  </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li *ngFor="let type of resortTypes; last as isLast"
            [ngClass]="{'anc-bor': isLast}"
            (click)="changeType(type)">
          <a>{{type}}</a>
        </li>
      </ul>
    </div>

    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <app-resort-item
            *ngFor="let resort of resortList | resortsFilter: selectedType"
            [resort]="resort"
            (click)="selectResort(resort)">
          </app-resort-item>
        </div>
      </div>
    </div>
  </div>
</div>
